<div class="col-xl-12 col-lg-12 col-md-12 col-sm-10 col-10 container">
        <div class="alert alert-success" role="alert" *ngIf="alertmessage && alertmessage != null">
                {{ alertmessage }}
             </div>
             <div class="alert alert-danger" role="alert" *ngIf="alerterror && alerterror != null">
                 {{ alerterror }}
             </div>
<input type="text" class="form-control"  placeholder="Nombre del formulario" name="name" [(ngModel)]="name" > <br>
<form-builder [form]="form" (change)="onChange($event)"></form-builder>
<div class="well jsonviewer" hidden>
    <pre id="json"><code class="language-json" #json></code></pre>
</div>
<button type="button" class="btn btn-primary" (click)="actualizar()"> Actualizar </button>
</div>