<div class="row">

    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0 col-0">

    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-0 col-0"> 

        <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: #ecac0d ">
                <mat-panel-title>
                   <strong> CONTROLES Y CRITERIOS DE ACEPTACIÓN EN PRODUCCIÓN </strong>
                </mat-panel-title>
            </mat-expansion-panel-header> 
            <br>             
          
        
        
        <h6> Total Botellas: {{totalbotellas}} </h6>
        <div style="display: block">
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [colors] ="doughnutChartColors"
                        [chartType]="doughnutChartType">
                      </canvas>
          </div>
        
         <h6> porcentaje de rechazo: {{porcentajerechazo}} % </h6>
        </mat-expansion-panel>
        </mat-accordion>
        
        

    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-0 col-0"> 

    </div>
</div>

