<div class="row">
     <div style="text-align:center" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <h5> REPORTES </h5> 
     </div>
    
     <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"> 

     </div>

     <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-11">
        <table class="table">
            <thead class="thead-light"> 
                <th scope="col"> Nombre del Formulario </th>
                <th scope="col"> Acciones </th>
            </thead>
            <tbody>
                <tr>
                <td> PROCESO DE CONTROL INSPECTOR DE ENVASE VACIO </td>
                <button type="button" class="d-none d-xl-inline btn btn-primary" (click)="ir()"> Visualizar Opciones de Filtrado </button>
                </tr>
               
            </tbody>  
         </table> 
     </div>

     <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
     </div>
    
</div> 
    
